# 1. Konfigurasi Backend & WebSocket (Gunakan IP Server/Laptop Pusat)
BACKEND_URL=http://172.125.0.98:3002
WEBSOCKET_URL=ws://172.125.0.98:3002

# 2. Host MediaMTX Server Pusat (Wajib IP Server, BUKAN localhost)
MEDIAMTX_HOST=172.125.0.98
STREAM_PUSH_ENABLED=true

# 3. Kredensial Kamera (Disalin dari Pop-Up Dashboard saat Register Device)
API_KEY=dk_5W7Evs6JUlOK5tddlzDazjdEbuRCQ9AAiDfxZAFu
CAMERA_ID=3cebf033-2d73-4d28-b280-d434307d1f03
CAMERA_NAME=CCTV Pintu Masuk

# 4. Sumber Video Kamera Lokal di Raspberry Pi
# (Contoh IP Camera RTSP atau RTSP stream lokal Raspberry Pi)
RTSP_URL=rtsp://disguise:disguise-id123@192.168.1.27:554/stream1

