# Konfigurasi Backend (IP Laptop/Server via wlan0)
BACKEND_URL=http://172.125.0.3:3002
WEBSOCKET_URL=ws://172.125.0.3:3002

# Kredensial Kamera (Disalin dari Pop-Up Dashboard setelah menekan Simpan)
API_KEY=salin_dari_dashboard
CAMERA_ID=salin_dari_dashboard
CAMERA_NAME=CCTV Pintu Masuk

# Konfigurasi CCTV (IP Camera via eth0)
RTSP_URL=rtsp://disguise:disguise-id123@192.168.1.27:554/stream1
