# Konfigurasi Backend (IP Laptop/Server via wlan0)
BACKEND_URL=http://172.125.0.3:3002
WEBSOCKET_URL=ws://172.125.0.3:3002

# Kredensial Kamera (dari Dashboard)
API_KEY=cam_auto_xyz123
CAMERA_ID=cam-raspi-01
CAMERA_NAME=CCTV Pintu Masuk

# Konfigurasi CCTV (IP Camera via eth0)
RTSP_URL=rtsp://disguise:disguise-id123@192.168.1.27:554/stream1
